{% extends "base.html" %}


{% block titel %}
    List with Jqgrid
{% endblock %}

{% block content %}
     <!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/jqxcore.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/jqxdata.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/jqxbuttons.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/jqxscrollbar.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/jqxlistbox.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/jqxdropdownlist.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/jqxmenu.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/jqxgrid.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/jqxgrid.filter.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/jqxgrid.sort.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/jqxgrid.selection.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/jqxpanel.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/jqxcalendar.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/jqxdatetimeinput.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/jqxcheckbox.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/globalization/globalize.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/jqxdatatable.js'%}"></script>

        <link rel="stylesheet" href="{% static 'js/styles/jqx.base.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'js/styles/jqx.arctic.css' %}" type="text/css" />

        <script type="text/javascript">
            $(document).ready(function () {
                var url = '{% url 'task_listview_jqgrid' %}';

                var source =
                {
                    dataType: 'json',
                    root:'rows',
                    pagerMode: 'advanced',
                    id:'id',
                    url:url,
                    dataFields:
                    [
                        { name: 'id', type: 'number' },
                        { name: 'titel', type: 'string' },
                        { name: 'description', type: 'string'}

                    ],
                    beforeprocessing: function(data)
                    {
                        source.totalrecords = data.TotalRows;
                        console.log(data);
                    }
                };
                var dataAdapter = new $.jqx.dataAdapter(source);

                $("#table").jqxDataTable(
                {
                    width: '50%',
                    source: dataAdapter,
                    theme: 'arctic',
                    pageable: true,
                    filterable: true,
                    columnsresize: true,
                    pagesize:4,
                    altRows: true,
                    serverProcessing: true,
                    columns: [
                      { text: 'Id', dataField: 'id', width: 200 },
                      { text: 'Title', dataField: 'titel', width: 200 },
                      { text: 'Description', editable: false, dataField: 'description'}
                    ]
                });
            });
        </script>
    </head>

    <body class='default'>
        <div id="table">
        </div>
    </body>
</html>
{% endblock %}